body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 0px 0px 40px;
  /* height: calc(100vh - 195px); */
  height: 71.5vh;
}

.home {
  padding: 0px 0px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  /* padding: 10px; */
  border: none;
  width: 100%;
  cursor: pointer;
  color: yellow;
  font-size: 30px;
}

.btn-theme {
  color: rgb(252, 252, 3);
  font-size: 20px;
  border: none;
  background: white;
  cursor: pointer;
}

.favButton:hover {
  background-color: rgba(7, 135, 240, 0.726);
}

h1{
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav{
  display: flex;
  /* width: 80vw; */
  justify-content: flex-end;
  padding: 1rem;

}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.dh {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
}

.ico {
  width: 20px;
  filter: brightness(1) invert(1) sepia(1) hue-rotate(180deg) saturate(0);
  padding: 5px;
}

.img-dh {
  width: 200px;
}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  padding: 20px;
  margin: auto;
}

.div-input {
  padding: 5px;
}

input {
  border-radius: 5px;
  padding: 5px;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img {
  width: 190px;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}
.dark .btn-theme {
  background-color: #12121200;
}
.dark nav a {
  color: white;
}
.dark nav a:hover {
  color: black;
}